body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 796px;
    height: 596px;
    background-color: #5a91a6;
    border: 2px solid black;
}

.top {
    background-color: #a2bfc7;
    height: 70px;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.top-name {
    font-size: 25px;
}

.created-date {
    margin-left: 10px;
}

.close {
    position: relative;
    top: -50px;
    left: 750px;
    }

.close:hover {
    cursor: pointer;
    }

.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: rgb(80, 80, 80);
    }

.close:before {
    transform: rotate(45deg);
    }

.close:after {
    transform: rotate(-45deg);
    }

.page-content {
    overflow: auto;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.about-mes {
    width: 150px;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-mes p {
    font-size: 12px;
}

.circle {
    background-color: #a2bfc7;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block-messages {
    border-left: 1px solid black;
    padding-left: 30px;
}

.text-message {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: #86b8c9;
    margin-right: 50px;
    margin-top: -15px;
    display: flex;
    flex-grow: 2;
}